<div>
  <h2 id="page-heading" data-cy="PersonalInfoHeading">
    <span>Personal Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-personal-info"
        [routerLink]="['/personal-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Personal Info</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (personalInfos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Personal Infos found</span>
    </div>
  }

  @if (personalInfos && personalInfos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span>Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="birthDate">
              <div class="d-flex">
                <span>Birth Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span>Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span>Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedBy">
              <div class="d-flex">
                <span>Deleted By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address.id">
              <div class="d-flex">
                <span>Address</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardType.id">
              <div class="d-flex">
                <span>Card Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (personalInfo of personalInfos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/personal-info', personalInfo.id, 'view']">{{ personalInfo.id }}</a>
              </td>
              <td>{{ personalInfo.name }}</td>
              <td>{{ personalInfo.gender }}</td>
              <td>{{ personalInfo.birthDate }}</td>
              <td>{{ personalInfo.telephone }}</td>
              <td>{{ personalInfo.createdBy }}</td>
              <td>{{ personalInfo.updatedBy }}</td>
              <td>{{ personalInfo.deletedBy }}</td>
              <td>
                @if (personalInfo.address) {
                  <div>
                    <a [routerLink]="['/address', personalInfo.address.id, 'view']">{{ personalInfo.address.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (personalInfo.cardType) {
                  <div>
                    <a [routerLink]="['/card-type', personalInfo.cardType.id, 'view']">{{ personalInfo.cardType.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/personal-info', personalInfo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/personal-info', personalInfo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(personalInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
